@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 28.125rem;
    height: 34.375rem;
    background-color: #ECEFF1;
}

.circular {
    transform: scale(2);
}

.inner {
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 90px;
    width: 90px;
    margin: -45px 0 0 -45px;
    border-radius: 100%;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.bar {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
}

.circle .left .progress {
    z-index: 1;
}

.circle .right {
    transform: rotate(180deg);
    z-index: 3;
}